h1 {
  color: white;
  text-shadow: 0 0 5px black;
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 40px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: white;
  text-shadow: 0 0 5px black;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  margin: 0 0 24px;
  text-align: center;
}

h5 {
  color: white;
  text-shadow: 0 0 5px black;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 36px;
  margin: 0 0 24px;
  text-align: center;
}

p {
  color: rgb(61, 59, 59);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
}

.top-bar {
  background-color: #017de2;
}

.top-bar a {
  color: white;
  text-decoration: none;
  margin-right: 3rem;
}

.top-bar a:hover {
  text-decoration: underline;
}

.navbar {
  background-color: #017de2;
  font-weight: bold;
  padding: 20px;
}

.nav-item {
  padding-left: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:focus {
  color: white;
  text-shadow: 0 0 4px black;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  text-shadow: 0 0 4px black;
}

#avatar {
  height: 60vh;
  width: 100%;
  margin-top: 1rem;
  margin-right: 0;
}

.hello {
  color: white;
  text-shadow: 0 0 5px black;
}

.p-text {
  font-size: 1.5rem;
  font-style: italic;
}

.page-break {
  height: 1rem;
  background-color: #017de2;
}

.project {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 3px 3px 3px gray;
}

.project-img {
  height: 50vh;
  width: 100%;
}

.projects {
  width: 100%;
  max-width: 100%;
  margin: 2rem;
}

.projects img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 7px;
}

.threeCol {
  margin: 1rem;
  padding: 5px;
  border-radius: 10px;
}

.colImages {
  height: 20vh;
  max-width: 100%;
}

.footer-top {
  background: #017de2;
  padding: 20px;
}

.segment-one h3 {
  margin: 10px 0;
  color: #fff;
}

.segment-two h3 {
  color: #fff;
}

.segment-one h3:before {
  content: "|";
  color: #fff;
  padding-right: 10px;
}
.segment-two ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}

.segment-two a {
  color: #fff;
}

.segment-two h3:before {
  content: "|";
  color: #fff;
  padding-right: 10px;
}

@media screen and (max-width: 700px) {
  .navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 16px;
  }

  .segment-three {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.segment-three h3:before {
  content: "|";
  color: #fff;
  padding-right: 10px;
}

.segment-three a {
  display: inline-block;
}

.footerIcons {
  height: 40px;
  margin: 10px 10px;
}

.footerImg {
  height: 6rem;
}

.skinny-break {
  height: 1px;
  background-color: #017de2;
}

.project-rows {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.get_in_touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.get_in_touch .title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 2rem;
  line-height: 48px;
  padding-bottom: 20px;
  color: #017de2;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #017de2;
  line-height: 26px;
  font-weight: 400;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact-form .input-text:focus {
  outline: none;
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 14px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #017de2;
  cursor: text;
  transition: 0.2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
}

textarea {
  border-width: 0 0 2px 0;
  border-color: #017de2;
  line-height: 26px;
  font-weight: 400;
}
